table {
            background-image: linear-gradient(
                #cd65e2, #bd3799
            );
        }
        table, td {
            border: 1px solid rgb(49, 49, 49);
            border-collapse: collapse;
        }

        tr, td {
            margin: 0;
            padding: 10px 15px;
            text-align: center;
        }

        .header {
            background-color: rgba(182, 58, 240, 0.685);
        }